<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scoring</title>
    <style>
        div {
            color: blue;
            font-size: xx-large;
        }
        li  {
            font-weight: bold;

        }
        #gwapo {
            position: absolute;
            display: block;
        }
        #gwapa {
            visibility: hidden; 
            
        }
    </style>
    <script src="node_modules/vue/dist/vue.min.js"></script>
    
</head>
<body>
    <div id="myApp">
        <input type="text" v-model="applicant" > 
        <div @click="addApplicant">Add  {{applicant}}</div>
        <ul>
            <li v-for="student in students" >{{student.name}} Gwapo</li>
        </ul>
    </div>
    <script>
        var app = new Vue({
            el: '#myApp',
            data: {
                applicant: "",
                scoring: {
                    'Usman': 0,
                    'Matin': 0,
                    'Felix': 0,
                    'Magongcar': 0,
                    'Omair': 0                
                }
            },
            computed: {
                //[{name: ''}]
                students(){
                    return Object.keys(this.scoring)
                        //map string to object {name}
                        .map((studentName) => {
                            return {
                                name: studentName
                            }
                        })
                }
            },
            methods: {
                addApplicant(){
                    this.students.push(this.applicant);
                }
            }
        })
    </script>
</body>

</html>